#!/usr/bin/env xdg-open
[Desktop Entry]


# -------------------------------------
# this is auto-installed by script
# linux_install.sh
# -------------------------------------


Type=Application
Name=LIL_linux

# Tooltip comment to show in menus.
Comment=Lowell Instruments LIL on Linux

# folder in which the executable is run
Path=/opt/lil_linux

Exec=lil_linux.bin

Icon=/usr/share/icons/hicolor/scalable/apps/icon_li_transparent.svg
